.head{
    display: flex;
    align-items: center;
    background-color: purple;
    height: 60px;
    color: white;
    margin-top: 0%;
    font-family: cursive;
}

.body{
    margin: 0px;
    padding: 0px;
}


main{
    padding: 36px;
}

.head_image{
    height: 100%;
    margin-left: 6px;
    margin-top: 0%;
}

.h2-title{
    font-size: 20px;
    padding-left: 30px;
    margin-right: auto;
    margin-top: 0%;
    font-family: cursive;
}

.h4-title{
    padding-right: 15px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0%;
    font-family: cursive;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    font-family: cursive;
}

.input-button{
    grid-column: 1 / -1;
    font-family: cursive;
    background-color: purple;
    color: white;
}

.new-image{
    height: 200px;
    width: 200px;
    padding-top: 50px;
    margin-left: 350px;
}